<!DOCTYPE html>
<!--[if lt IE 7]>   <html class"no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if  IE 7]>     <html class"no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if  IE 7]>     <html class"no-js lt-ie9"> <![endif]-->
<!--[if gt IE 7]>   <html class"no-js"> <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X_UA-Compatible" contebt="IE-edge">
        <title>hosptal</title>
        <meta name="description" content="">
        <meta name="viewport"content="width-divice-width, initial-scale-1">
        <link rel"stylesheet" href="">
    </head>
    <boady>
        {% for message in messegas %}
        <div class="alert alert-{{ messsage.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span> 
        </button>
        </div>
        {%endfor%}
        
        <form action="/signin" method="POST">
        {% csrf_token %}
        <h3>signin</h3>
        
        
         <lable form="">Username</lable>
         <input type="text" id="username" name="username" plocholder="Enter your username" reqired>
         <br>

         <lable form="">Password</lable>
         <input type="Password" id="Password" name="Password" plocholder="Enter your Password"  reqired>
         <br>
        

         <button type="submit"> SIGNIN</a></button>
         </form>
         
         

        <script src="" async defer></script>
    </boady>
</html>

